In [88]:
import Rust_Machine_Learning
import plotly.express as px
import pandas as pd

In [92]:
# Get the csv data
# df = pd.read_csv("../data/iris.data")
df = pd.read_csv("../data/kmeans-dataset.csv")
# df = pd.read_csv("../data/winequality-red.csv")
df

              x        y  cluster
0      1.000070  40.9378        0
1      0.997360  41.1714        0
2      0.134799  41.8113        0
3      2.475850  41.6346        0
4     -3.058700  41.3887        0
...         ...      ...      ...
2985  98.255900  68.0158        9
2986  96.500700  67.9212        9
2987  96.885200  68.1787        9
2988  96.834000  67.9841        9
2989  98.433500  68.2043        9

[2990 rows x 3 columns]

In [90]:
# Split the data into train and test
def split_train_test(df, percent_train):
  #Randomize the rows
  df = df.sample(frac=1.0)

  #Create train and test data
  df_size = df.shape[0]
  train_size = df_size * percent_train

  train_data = df.iloc[:int(train_size),:]
  test_data = df.iloc[int(train_size):,:]
  return (train_data, test_data)

train_data, test_data = split_train_test(df, 0.8)

In [98]:
# Ensure categoriical data is one-hot encoded
# columns is list of ints
def one_hot_encode(df, columns):
  encoded = df.copy()
  for col in columns:
    # Get the unique values
    unique_vals = encoded.iloc[:,col].unique()
    
    # Now for each unique value add a col to df
    for val in unique_vals:
      encoded["is_" + encoded.columns[col] + "_" + str(val)] = encoded.iloc[:,col] == val
  encoded.drop(encoded.columns[columns], axis=1, inplace=True)
  return encoded

In [99]:
one_hot_encode(df, [2])

,x,y,is_cluster_0,is_cluster_1,is_cluster_2,is_cluster_3,is_cluster_4,is_cluster_5,is_cluster_8,is_cluster_7,is_cluster_9
0,1.000070,40.9378,True,False,False,False,False,False,False,False,False
1,0.997360,41.1714,True,False,False,False,False,False,False,False,False
2,0.134799,41.8113,True,False,False,False,False,False,False,False,False
3,2.475850,41.6346,True,False,False,False,False,False,False,False,False
4,-3.058700,41.3887,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
2985,98.255900,68.0158,False,False,False,False,False,False,False,False,True
2986,96.500700,67.9212,False,False,False,False,False,False,False,False,True
2987,96.885200,68.1787,False,False,False,False,False,False,False,False,True
2988,96.834000,67.9841,False,False,False,False,False,False,False,False,True
2989,98.433500,68.2043,False,False,False,False,False,False,False,False,True